<div data-react-component="ProductForm"
     data-react-props="<%= j({
       product: {id: @product.id, name: @product.name},
       action: product_path(@product),
       method: 'patch',
       authenticityToken: form_authenticity_token
     }.to_json) %>">
</div>
