<div data-react-component="ProductForm"
     data-react-props="<%= {
       product: {name: @product.name || ''},
       action: products_path,
       authenticityToken: form_authenticity_token
     }.to_json %>">
</div>
